<div class="mx-auto md:w-2/3 w-full">
  <p class="text-4xl ">Purchase successful!</p>
  <p>Your purchase was a success.</p>
  <p>Your access code is: <span class="font-bold"><%= @data_code.code %></span></p>
  <p>This access code has also been emailed to you.</p>
</div>
