<div class="mt-12 divide-y divide-gray-200 overflow-hidden rounded-md bg-white shadow-md">
  <div class="rounded-tl-md rounded-tr-md sm:rounded-tr-none group relative bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
    <p class="text-gray-900 pt-1 pb-3 px-3 font-medium text-lg"><%= title %></p>
    <%= line_chart data, colors: ["#818cf8", "#4f46e5"], curve: false, points: true, dataset: {
      fill: false
    } %>
  </div>
</div>