<div class="mx-auto md:w-2/3 w-full">
  <div>
    <h3 class="text-md font-semibold leading-6 text-gray-900">Add an Access Code</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Add an access code to one of your Datasets</p>
  </div>
  <%= render "access_codes/form" %>
</div>
