<div class="mx-auto md:w-2/3 w-full">
  <div>
    <h3 class="text-md font-semibold leading-6 text-gray-900">Add a Dataset</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Upload a local dataset, or link to one on the web</p>
  </div>
  <%= render "form", dataset: @dataset %>

  <%= link_to 'Back to datasets', datasets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
