<div class="mx-auto w-full flex">
  <div class="w-full">
      <% if @can_show_dataset %>
          <%= render 'show_dataset' %>
      <% else %>
        <div id="paywall-purchase-page" class="w-full">
          <%= render 'show_product_page' %>
        </div>
      <% end %>
  </div>
</div>

<!--<script>-->
<!--    let url = document.location.href;-->
<!--    let btn = document.getElementById("copy-url-btn")-->

<!--    new ClipboardJS(btn, {-->
<!--        text: function() {-->
<!--            return url;-->
<!--        }-->
<!--    });-->

<!--    btn.addEventListener("click", function () {-->
<!--        btn.innerText = "Copied link!"-->
<!--    })-->

<!--    btn.addEventListener("mouseout", function () {-->
<!--        btn.innerText = "Share this database"-->
<!--    })-->
<!--</script>-->
