<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="p-4 font-bold text-2xl">Profile</h1>

    <div class="border border-gray-200 p-2">
      <p>Name: <%= @user.name %></p>
    </div>

      <div class="border border-gray-200 p-2 bg-gray-100 hover:bg-gray-200">
        <% if !@user.stripe_connected_account_success %>
          <%= link_to "Connect your Stripe account ->", @account_link %>
        <% else %>
          <p>Stripe account connected ✓</p>
        <% end %>
      </div>
  </div>
</div>
